<div class="left w-[20%] h-full lg:bg-gray-900 bg-gray-950 md:border-0 border-r-[1px] border-gray-700">
    <div class="links w-full h-full">
      <ul class="flex flex-col justify-start lg:items-baseline items-center  p-10 w-full h-full gap-y-5">
        <div class="flex items-center md:hover:bg-gray-950 py-1 hover:bg-gray-900 px-3 rounded-full cursor-pointer">
          <i class="ri-account-circle-fill text-2xl cursor-pointer"></i>
          <li>
            <a
              href="/admin/adminpanel"
              class="text-sm font-semibold px-3  hidden lg:block  "
              >Admin Panel</a
            >
          </li>
        </div>
        <div class="flex items-center md:hover:bg-gray-950 py-1 hover:bg-gray-900 px-3 rounded-full cursor-pointer">
          <i class="ri-add-circle-fill text-2xl  cursor-pointer"></i>
          <li>
            <a
              href="/admin/addproduct"
              class="text-sm font-semibold px-3  hidden lg:block  "
              >Add a Product</a
            >
          </li>
        </div>
        <div class="flex items-center hover:bg-blue-600 py-1 px-3 rounded-full cursor-pointer">
          <i class="ri-discount-percent-fill text-2xl cursor-pointer"></i>
          <li>
            <a
              href="#"
              class="text-sm font-semibold px-3  hidden lg:block  "
              >Create A Coupon</a
            >
          </li>
        </div>
        <div class="delete flex items-center hover:bg-red-600 py-1 px-3 rounded-full cursor-pointer">
          <i class="ri-delete-bin-fill text-2xl cursor-pointer "></i>
          <li>
            <a
              href="#"
              class="text-sm font-semibold px-3 hidden lg:block  "
              >Delete A Product</a
            >
          </li>
        </div>
        <div class="flex items-center hover:bg-green-600 py-1 px-3 rounded-full cursor-pointer">
          <i class="ri-bookmark-fill text-2xl cursor-pointer"></i>
          <li>
            <a
              href="#"
              class="text-sm font-semibold px-3 hidden lg:block "
              >Manage Product</a
            >
          </li>
        </div>
      </ul>
    </div>
  </div>