<%- include('./layouts/header') %>
<style>
  ::-webkit-scrollbar {
    display: none;
  }
</style>
<div class="h-screen w-full bg-gray-900 text-white">
  <%- include('./layouts/navbar') %>
  <div class="h-full w-full flex">
    <%- include('./layouts/AdminNav') %>
    <div class="right w-[80%] h-full bg-slate-950">
      <form class="p-10 w-full" action="/login" method="post">
        <h1 class="text-3xl font-semibold">Add a Product</h1>
        <div class="flex flex-col justify-start gap-3 items-start mt-3 w-full">
          <label for="">Product Name :</label>
          <input
            class="w-1/2 bg-transparent border-gray-800 border-[1px] py-2 px-3 rounded-md outline-none"
            type="text"
            name="Pname"
            id=""
            placeholder="Enter Product Name"
          />
          <label for="">Product SKU :</label>
          <input
            class="w-1/2 bg-transparent border-gray-800 border-[1px] py-2 px-3 rounded-md outline-none"
            type="text"
            name="Sku"
            id=""
            placeholder="Sku For Product"
          />
          <label for="">Product Image (Background should Transparent )</label>
          <input
            class="w-1/2 bg-transparent border-gray-800 border-[1px] py-2 px-3 rounded-md outline-none"
            type="file"
            name="Pimage"
            id=""
          />
          <label for="">Product Price :</label>
          <input
            class="w-1/2 bg-transparent border-gray-800 border-[1px] py-2 px-3 rounded-md outline-none"
            type="number"
            name="Pprice"
            id=""
            placeholder="Enter a Product Price"
          />
          <div class="w-full flex gap-2 gap-y-4 mt-5">
            <div class="flex flex-col gap-y-2">
              <label for="">Release Date :</label>
              <input
                class="w-[75%] bg-transparent border-gray-800 border-[1px] py-2 px-3 rounded-md outline-none"
                type="text"
                name="Prelease"
                id=""
                placeholder="Release Date"
              />
            </div>
            <div class="flex flex-col gap-y-2">
              <label for="">Model Number :</label>
              <input
                class="w-[75%] bg-transparent border-gray-800 border-[1px] py-2 px-3 rounded-md outline-none"
                type="text"
                name="Pmodelnumber"
                id=""
                placeholder="Model Number"
              />
            </div>
          </div>
          <input class="w-64 py-2 px-3 text center bg-blue-600 hover:bg-blue-700 rounded-lg mt-5" type="submit" value="Add Product">
        </div>
      </form>
    </div>
  </div>

  <!-- 
    <div class="w-full h-screen bg-gray-900 text-white flex justify-center items-center-rounded-md:p-0 p-5">
    </div> -->
</div>
<%- include('./layouts/footer') %>
