<%- include('./layouts/header') %>
<style>
  .show {
    left: 0;
    clip-path: circle(141.4% at 0 0);
  }
  .links {
    transition: 0.8s all ease-in-out;
  }
  .shownav {
    left: 0;
    top: 20%;
    clip-path: circle(0% at 0 0);
  }
  .nav2 {
    clip-path: circle(141.4% at 0 0);

    transition: 0.8s all ease-in-out;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .img {
    background-image: url(/assets/images/shop-background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
  }
  .toggle-filter{
    width:24rem;
  }
  .filter-show{
    transition: all .5s ease-in ;
  }
  .price-filter {
    margin-top: 20px;
  }
  input[type="range"] {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    margin: 15px 0;
  }
  input[type="range"]:focus {
    outline: none;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: blue;
    border-radius: 1.3px;
  }
  input[type="range"]::-webkit-slider-thumb {
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
  }
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animation: 0.2s;
    background: blue;
    border-radius: 1.3px;
  }
  input[type="range"]::-moz-range-thumb {
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type="range"]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type="range"]::-ms-fill-lower {
    background: blue;
    border-radius: 2.6px;
  }
  input[type="range"]::-ms-fill-upper {
    background: blue;
    border-radius: 2.6px;
  }
  input[type="range"]::-ms-thumb {
    border: 1px solid #000000;
    height: 30px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: 0px;
  }
  input[type="range"]:focus::-ms-fill-lower {
    background: blue;
  }
  input[type="range"]:focus::-ms-fill-upper {
    background: blue;}
</style>
<div class="bg-gray-950 h-screen w-0 right-0 fixed z-[100] filter-show">
  <div class="h-[10%] w-full px-7 flex items-center">
    <i class="cross ri-close-large-fill text-white text-xl font-semibold p-2 px-3 rounded-full bg-red-500 hover:bg-red-600 cursor-pointer"></i>
  </div>
  <div class="h-[90%] w-full p-5">
    <div class="price-filter">
      <label for="range" class="text-white text-xl font-semibold ">Select Price Range:</label>
      <input type="range" id="range" name="range" min="500" max="10000" step="100">
      <div class="text-white">Selected Price: $ <span id="priceValue">500</span></div>
    </div>
    <div class="category mt-5 p-4 bg-gray-900 rounded-lg text-white">
      <label class="text-white text-lg mb-2 block">Select Category:</label>
      <div class="flex">
        <input type="radio" name="category" id="mobile" value="Mobile" class="">
        <label for="mobile" class="p-2 mb-1 rounded-lg cursor-pointer ">New</label>
      </div>
      <div class="flex">
        <input type="radio" name="category" id="mobile" value="Mobile" class="">
        <label for="mobile" class="p-2 mb-1 rounded-lg cursor-pointer ">Sale</label>
      </div>
   
  </div>
    <div class="category mt-5 p-4 bg-gray-900 rounded-lg text-white">
      <label class="text-white text-lg mb-2 block">Select Category:</label>
      <div class="flex">
        <input type="radio" name="category" id="mobile" value="Mobile" class="">
        <label for="mobile" class="p-2 mb-1 rounded-lg cursor-pointer ">Mobile</label>
      </div>
      <div class="flex">
        <input type="radio" name="category" id="boys-wear" value="Boys Wear" class="">
        <label for="boys-wear" class="p-2 mb-1 rounded-lg cursor-pointer ">Boys Wear</label>
      </div>
      <div class="flex">
        <input type="radio" name="category" id="girls-wear" value="Girls Wear" class="">
        <label for="girls-wear" class="p-2 mb-1 rounded-lg cursor-pointer ">Girls Wear</label>
      </div>
      <div class="flex items-center">
        <input type="radio" name="category" id="computers" value="Computers" class="">
        <label for="computers" class="p-2 mb-1 rounded-lg cursor-pointer ">Computers</label>
      </div>
  </div>
  <div class="apply-btn text-center text-white h-auto w-full mt-5">
    <a href="" class="px-3 w-full text-center py-2 bg-green-500 block rounded-md hover:bg-green-600">Apply Changes</a>
  </div>
</div>

  </div>
</div>
<div class="h-screen w-full bg-gray-900 text-white">
  <%- include('./layouts/navbar') %>
  <div
    class="searchandproductsnav h-[10%] w-full bg-gray-950 flex items-center z-40"
  >
    <div
      class="search z-40 h-full md:w-[50%] w-[100%] px-2 flex items-center justify-center relative gap-2"
    >
      <!-- <label for="">Search products</label> -->
      <input
        type="search"
        name="search"
        id="seacrh"
        class="w-full h-10 rounded-full px-5 bg-gray-900 outline-none"
        placeholder="Search For Products"
      />
      <a href="" class=""
        ><i
          class="ri-search-line text-gray-900 text-2xl p-2 rounded-full bg-blue-700"
        ></i
      ></a>
    </div>
    <div
      class="shop-list md:w-[50%] w-0 h-full flex items-center gap-5 justify-end lg:px-20 px-3 z-30"
    >
      <ul
        class="flex nav2 gap-7 bg-gray-950 md:relative absolute md:flex-row md:-top-0 top-[20%] flex-col z-30 , w-full md:w-full items-center md:justify-start h-96 md:h-full justify-center pb-4 md:pb-0 md:right-0 -left-[100%] md:left-0"
        >
        <a href="#" class="filter-btn text-md font-normal cursor-pointer">Filter</a>
        <a href="/clothing" class="text-md font-normal">Clothing</a>
        <a href="/grocery" class="text-md font-normal">Grocery</a>
        <a href="/electronics" class="text-md font-normal">Electronics</a>
      </ul>
    </div>
  </div>
  <div class="shop-background min-h-screen w-full">
    <div
      class="bg-image h-[50vh] w-full bg-zinc-800 img flex flex-col justify-center items-center relative"
    >
      <h1 class="text-5xl font-semibold z-10">Shop</h1>
      <p class="z-10 text-zinc-400 text-lg">Cheapest price || Best Quality</p>
      <div
        class="overlay h-[50vh] w-full bg-black opacity-60 absolute z-0"
      ></div>
    </div>
    <div class="products-container bg-gray-900 min-h-screen w-full md:p-10 p-5">
      <div class="heading text-5xl font-semibold leading-none">
        <h1 class="text-5xl font-semibold leading-none">Products and Goods</h1>
      </div>
      <div class="card-container h-auto w-full mt-5 flex justify-center">
        <div
          class="cards h-full w-full flex flex-wrap lg:gap-x-10 gap-x-4 gap-y-5"
        >
          <div
            class="card h-[22rem] xl:w-60 md:w-56 w-full bg-gray-800 rounded-md overflow-hidden px-2 pt-2 relative"
          >
            <div class="img-holder h-44 w-full overflow-hidden flex rounded">
              <img
                src="/assets/images/tomatoes-removebg-preview.png"
                class="h-44 w-full bg-white object-contain"
                alt=""
              />
            </div>
            <div class="product-name w-full p-1 pb-0">
              <h1 class="text-lg font-semibold">Fresh Red Tomatoes</h1>
            </div>
            <div class="product-price w-full px-1 pb-0">
              <h1 class="font-semibold">Price : $30</h1>
            </div>
            <div
              class="product-add-to-cart w-full p-2 bg-blue-600 hover:bg-blue-700 text-center relative my-2 rounded cursr-pointer"
            >
              <h1>Add to Cart</h1>
            </div>
            <div
              class="product-add-to-cart w-full p-2 bg-green-700 hover:bg-green-800 text-center relative rounded cursor-pointer"
            >
              <h1>Buy Now</h1>
            </div>
          </div>
       
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('./layouts/footer') %>
